* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }

html, body {min-width:1330px}

body {
	background-image:url("../images/bg.jpg");
}

article, aside, figure, footer, header, nav, section { display: block; }

/*Common Colours

	Dark-Blue: #17365d
	Lime-Green: #75b530
    Brass: #b89a3a
	
*/
/*Fonts*/

@font-face {
    font-family: 'MothproofScriptRegular';
    src: url('../fonts/mothproofscript/Mothproof_Script-webfont.eot');
    src: url('../fonts/mothproofscript/Mothproof_Script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mothproofscript/Mothproof_Script-webfont.woff') format('woff'),
         url('../fonts/mothproofscript/Mothproof_Script-webfont.ttf') format('truetype'),
         url('../fonts/mothproofscript/Mothproof_Script-webfont.svg#MothproofScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#mybook a, #mybook a:visited, #mybook a:hover, #mybook a:active { color:blue;}

#mybook p, #mybook tbody, #mybook h1, #mybook h2, #mybook h3 { color:#17365d;}

h3.section-heading {
    clear:both;
	color:#17365d;
}

/*Heading*/

heading {
	/*background-color:#3d2618;*/
	background-image:url('../images/header-footer-bg.jpg');
	display:block;
	margin:0;
	
	height:70px;
	
	padding: 10px;
	text-decoration: none;

	text-shadow: 1px 1px 3px #666666;
}

heading h1{
	font-family: MothproofScriptRegular, Helvetica, Arial, Serif;
	max-width:500px;
	color:white !important;
}

heading h2{
	max-width:500px;
	color:white !important;
}

heading h3 {
	float:left;
	position:absolute;
	top:10px;
	right:10px;
	color:white !important;
}

div#heading-strip {

    height:10px;

    margin:0px 0px 10px 0px;
    background-color:#b89a3a;
    background-image:url('../images/strip.png');
}

/*sidebar-left */

div#sidebar-left {
	width:68px;
	min-height:500px;
	max-height:100%;
	float:left;
	padding-left:10px;
	margin:0;
}

div#sidebar-left  ul, div#sidebar-left  li {
	
}

/*Book*/
div.mybook{}

div.page h1 {
	color:#75b530 !important;
	font:Cambria, Helvetica, Arial, serif;
	text-align:center;
	font-style:italic;
}

div.page h2{
	font:Cambria, Helvetica, Arial, serif;
	color:#17365d;
	text-align:center;
	font-style:italic;
}

h3.section-heading {
    margin-top:10px;
}

/*Contact Info*/

table.contact {
    float:left;
	margin-bottom:20px;
}

table.contact th{
	text-align:left;
	vertical-align:top;
	padding-right:50px;
}

table.contact:nth-child(n) th:after {
	content:":";
}

/* Profile Picture */

img#profile {
    float:left;
    position:relative;
    left:100px;

    border: black 2px solid;
}

/*Formal Qualifications */
table.formal-qualifications {
	margin-bottom:20px;
}
table.formal-qualifications th{
	text-align:left;
	color:#75b530;
}

/*Currently Studying */

table.currently-studying th{
	text-align:left;
	color:#75b530;
}

table.currently-studying li{
	position:relative;
	left:20px;
}

/*Work History*/

table.work-history th {
    text-align:left;
    color:#75b530;
    margin-top:5px;
    margin-bottom:5px;
}

table.work-history, div.work-history p{
    color:#17365d;
}

table.work-history li {
    position:relative;
	left:20px;
}

table.work-history:nth-child(n) em:after {
	content:": ";
}

div.work-history:nth-child(n) em:after {
	content:": ";
}


table.work-history em, div.work-history em {
    font-weight:bold;
}

table.work-history p {
    color: #17365d;
    padding-bottom:2px;
}

/*Skills*/

div.skills p, div.skills li{
    color:#17365d;
}

ul.skills {
    margin-left:10px;
    margin-top:10px;
}

ul.skills li{
    position:relative;
    left:20px;
}

ul.skills:nth-child(n) em:after {
	content:": ";
}



/* Signature */

img.signature {
	width:257px;
	height:88px;
	margin-top:20px;

    margin-left:40px
}

/*Instructions*/

div#instructions p{
    color:white !important;
    text-align:center;
}

/*Sidebar-Right*/

div#sidebar-right {
	height:800px;
	width:40px;
	background-color:rgba(0, 0, 0, 0.9);
	
	position:absolute;
	right:0px;
	top:110px;
	
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;

}

div#sidebar-right h1.vertical{
	color:white;
	width:400px;
	text-align:right;
}

div#sidebar-right-content {
	height:580px;
	width:780px;
	margin:10px;
	color:white;
}

div#sidebar-right-content a,
div#sidebar-right-content a:visited,
div#sidebar-right-content a:active,
div#sidebar-right-content a:hover {
	color:#75B530;
}

div#sidebar-right-content div#sidebar-right-content-top {
	height:63px;
	margin-bottom:5px;
}

div#sidebar-right-content div#sidebar-right-content-top img.logo{
	float:left;
}

div#sidebar-right-content div#sidebar-right-content-top p.description {
	width:700px;
	height:63px;
	position:relative;
	left:4px;
	padding:1px, 2px, 1px, 2px;
	float:left;
}

div#sidebar-right-content div#sidebar-right-content-main {
	height:467px;
	background-color:rgba(51, 51, 51, 0.7);
	overflow:auto;
	padding:5px;
	width:770px;
}

/*Footer*/

div#footer-strip{

    height:10px;

    margin:10px 0px 0px 0px;
    background-color:#b89a3a;
    background-image:url('../images/strip.png');
}

/*Referees*/
div.referees p{
   color:#17365d !important;
}

footer {
	text-align:center;

    margin:0;
    height:120px;

	padding: 10px;
	text-decoration: none;

	text-shadow: 1px 1px 3px #666666;
    background-image:url('../images/header-footer-bg.jpg');
}

footer p, footer h1, footer h2, footer h3,
footer h4, footer, h5, footer h6 {
    color:white !important;
}

footer a, footer a:visited{
    color: #b89a3a !important;
}

footer a:hover, footer active {
    color:white !important;
}


/*Global Classes */

.vertical {
	display: block;
	position: absolute;
	right: 0px;
	top: -30px;	
	/* For Internet Explorer */
	writing-mode: tb-rl;
	filter: flipV flipH;
	
	/*Otherwise*/
	-moz-transform:rotate(270deg); 
	-moz-transform-origin: bottom right;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	-o-transform: rotate(270deg);
	-o-transform-origin:  bottom right;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.centre {
	text-align:center;
}

/*ui elements*/
.close_btn {
	float:right;
}

div.role {
	margin-top:15px;
}